//Switches para indicar sobre peso y puerta atascada
NET "overweight" LOC = T5;
NET "jammedDoor" LOC = V8;

//LEDS para indicar motor funcionando, frenos funcionando y abriendo puerta
NET "motor" LOC = T11;
NET "brake" LOC = R11;
NET "openDoor" LOC = N11;

//Solicitud de piso con los botones


//Salidas del 7 segmentos
NET "o1" LOC = T17;
NET "o2" LOC = T18;
NET "o3" LOC = U17;
NET "o4" LOC = U18;
NET "o5" LOC = M14;
NET "o6" LOC = N14;
NET "o7" LOC = L14;

NET "an1" LOC = P17;
NET "an2" LOC = P18;
NET "an3" LOC = N15;
NET "an4" LOC = N16;